<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-nav" #sidenav mode="side" [(opened)]="opened">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="top-content">
      <mat-icon
        class="menu-icon"
        aria-hidden="false"
        (click)="sidenav.toggle()"
        aria-label="Example home icon"
      >
        menu
      </mat-icon>
      <app-top-menu></app-top-menu>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
