.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-nav {
  width: 350px;
  background: #3b4b64;
}

.menu-icon {
  cursor: pointer;
  padding: 20px;
  font-size: 36px;
  color: #3b4b64;
}
